<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>SHP.ADM.WebConsole</display-name>
	<servlet>
        <servlet-name>ADMServices</servlet-name>
        <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>co.bdigital.admin.services.config.ConfigServices</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
     <servlet-mapping>
        <servlet-name>ADMServices</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
	<context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>start</param-value>
    </context-param>
    <context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>
	<!-- Validaciones de campos -->
	<context-param>
		<param-name>primefaces.CLIENT_SIDE_VALIDATION</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
    	<param-name>org.apache.myfaces.SERIALIZE_STATE_IN_SESSION</param-name>
    	<param-value>false</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<enabled>true</enabled>
		<async-supported>false</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>
		/faces/*</url-pattern>
		<url-pattern>
		*.xhtml</url-pattern>
	</servlet-mapping>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>defaultWIMFileBasedRealm</realm-name>
		<form-login-config>
			<form-login-page>/login.xhtml</form-login-page>
			<form-error-page>/error.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<!-- Upload -->
	<filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
        <init-param>
            <param-name>thresholdSize</param-name>
            <param-value>512000</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </filter-mapping>
	<!-- REload Config -->
	<security-constraint>
		<display-name>WebResourcesConstraints</display-name>
		<web-resource-collection>
			<web-resource-name>WebResources</web-resource-name>
			<description></description>
			<url-pattern>/faces/*</url-pattern>
			<url-pattern>/rest/*</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<welcome-file-list>
		<welcome-file>login.xhtml</welcome-file>
	</welcome-file-list>
	
	<session-config>
	    <session-timeout>60</session-timeout>
	</session-config>
</web-app>
